<div ng-init="init()">
<div id="menu" ng-controller="mainController" ng-hide="!logged">
            <ul ng-model="mymenustrip" mobiscroll-menustrip="settings" mobiscroll-instance="demo" class="mbsc-ms-icons" style="display:none;">
                <li data-tab="md-tab-acc" ng-click="redireccion(1)">
                <span class="micons mbsc-ic mbsc-ic-home mbsc-ms-ic">Búsqueda</span></li>
                <li data-tab="md-tab-icloud" ng-click="redireccion(2)"><span class="micons mbsc-ic mbsc-ic-file4 mbsc-ms-ic">Expedientes</span></li>
                <li data-tab="md-tab-comp" ng-click="redireccion(3)"><span class="micons mbsc-ic mbsc-ic-loop2 mbsc-ms-ic">Sincronización</span></li>
                <li data-tab="md-tab-comp" ng-click="redireccion(4)"><span class="micons mbsc-ic mbsc-ic-user4 mbsc-ms-ic">Cuenta</span></li>
            </ul>
        </div>
    <div id="form" class="demo-wrapper">
        <div mobiscroll-form="settings" style="display:none">   
            <div class="mbsc-divider">Búsqueda de unidad</div>
            <div>
                <input ng-model="facturaVin" type="text" placeholder="Número de Factura o VIN" />
            </div>
            <button class="mbsc-btn-block" ng-click="busqueda(facturaVin)">Buscar</button>
            <div mbsc-enhance ng-show="valor">
                <ul id="contacts" style="display:none;" mobiscroll-listview="contactSettings" mobiscroll-data="contacts">
                    <li data-role="list-divider">Factura</li>
                    <li>{{item.factura}}</li>
                    <li data-role="list-divider">VIN</li>
                    <li>{{item.vin}}</li>
                    <li data-role="list-divider">Descripción</li>
                    <li>{{item.descripcion}}</li>
                </ul>
            </div>
    <div class="mbsc-btn-group" ng-show="valor">
        <button data-icon="checkmark" ng-click="seleccionar()">Seleccionar</button>
    </div>
        </div>

    </div>     
    </div> 
</div>