<div ng-init="init()">
    <div id="form" class="demo-wrapper">
        <div mobiscroll-form="settings" style="display:none">   
            <div class="mbsc-divider">Búsqueda de unidad</div>
            <div>
                <input ng-model="facturaVin" type="text" placeholder="Número de Factura o VIN" />
            </div>
            <button class="mbsc-btn-block" ng-click="busqueda(facturaVin)">Buscar</button>
            <div mbsc-enhance>
                <ul id="contacts" style="display:none;" mobiscroll-listview="contactSettings" mobiscroll-data="contacts">
                    <li data-role="list-divider">Factura</li>
                    <li>{{item.factura}}</li>
                    <li data-role="list-divider">VIN</li>
                    <li>{{item.vin}}</li>
                    <li data-role="list-divider">Descripción</li>
                    <li>{{item.descripcion}}</li>
                </ul>
            </div>
    <div class="mbsc-btn-group">
        <button data-icon="checkmark" ng-click="seleccionar()">Seleccionar</button>
    </div>
        </div>

    </div>     
    </div> 
</div>