<div ng-init="init()">
<div class="md-tab-acc md-tab md-tab-sel">
    <div id="form" class="demo-wrapper">
	    <div mobiscroll-form="settings" style="display:none">   
	        <div class="mbsc-divider">Expediente</div>
		        <ul id="contacts" style="display:none;" mobiscroll-listview="contactSettings" mobiscroll-data="contacts">
		            <li data-role="list-divider">Factura</li>
		            <li>{{item.factura}}</li>
		            <li data-role="list-divider">VIN</li>
		            <li>{{item.vin}}</li>
		            <li data-role="list-divider">Descripción</li>
		            <li>{{item.descripcion}}</li>
		        </ul>
	    </div>
	    <div ng-controller="expedienteController">
			<ul mobiscroll-listview="settings" class="md-movies" mobiscroll-data="data" style="display:none">
		    	<li ng-click="Alerta()" data-id="{{item.id}}"> <img ng-src="{{item.img}}" />{{item.title}}        
		    	<div class="md-thumbs">{{item.status}}</div>
		    	</li>
			</ul>
		</div>
	</div>
</div>
</div>
	   
</div>