<div ng-init="init()" ng-controller="historialSincronizacionController">
	<div>
		<ul mobiscroll-listview="settings" mobiscroll-data="data" style="display:none">
		    <li><img ng-src="images/{{item.imgsrc}}" /><h3>{{item.sincronizacion}}</h3><h3>{{item.fecha}}</h3><h3>{{item.vin}}</h3><h3>{{item.numDoc}}</h3></li>
		</ul>
	</div>

	<div mobiscroll-form="settings2" style="display:none">
		<div class="mbsc-padding">
	        <button class="mbsc-btn-block">Sincronizar</button>
	    </div>
    </div>
</div>