<div ng-init="init()">
	<h1>Hello world!</h1>
	{{helloWorld}}

	<!-- Basic usage date START -->
    <div id="demo_cont_datetimeDate" class="demo-wrapper">
        <input ng-model="mydate" mobiscroll-date="settings" mobiscroll-instance="demo" placeholder="Please Select ..." />
    
        <button ng-click="demo.clear()">Clear</button>
        <button ng-click="demo.show()">Show</button>

         <button type="button" ng-click="irBusqueda()">Ir Busqueda</button>
         <button type="button" ng-click="irLogin()">Ir Login</button>
    
    </div>
    <!-- Basic usage date END -->

</div>