<!DOCTYPE html>
<html ng-app="registrationModule" ng-controller="backgroundController" ng-init="init()">
 <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>FlotillasApp</title>

        <!-- Incluir hojas de estilos CSS -->
        <!-- Mobiscroll JS and CSS Includes -->
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/login.css" />
        <link href="css/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css" />

        <!-- Incluir scripts del template de Angular y JQuery -->
        <!-- jQuery Include | MAKE SURE TO INCLUDE BEFORE ANGULAR -->
        <script src="js/jquery-2.2.0.min.js"></script>
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ng-cordova/dist/ng-cordova.min.js"></script>
        <script src="cordova.js"></script>
        <script src="confront.js"></script>
        <script src="js/mobiscroll.custom-2.17.1.min.js"></script>
  </head>
  <body>
    <ion-nav-bar class="bar-positive" ng-show="showTabs == true">
    </ion-nav-bar>
    <ion-nav-view class="slide-left-right"></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template" >
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Busqueda" icon="ion-search" ui-sref="tabs.busqueda">
          <ion-nav-view name="busqueda-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Consulta" icon="ion-ios-folder" ui-sref="tabs.consultaExpediente">
          <ion-nav-view name="consulta-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Sincronización" icon="icon ion-load-a" ui-sref="tabs.sincronizacion">
          <ion-nav-view name="sincronizacion-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Perfil" icon="icon ion-person" ui-sref="tabs.perfil">
          <ion-nav-view name="perfil-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <!--Template de Login.html-->
    <script id="templates/Login.html" type="text/ng-template">
        <ion-view title="Login">
            <ion-content class="padding">
                <div ng-init="init()">
                    <div class="container">
                        <header>
                            <h1>Registro de <strong>Unidades</strong></h1>
                        </header>
                        <section id="imagen">
                            <center>
                                <img id="logo" src="images/logo/integra.png"></img>
                            </center>
                        </section>
                        <section class="main">
                            <form class="form-1">
                                <p class="field">
                                    <input type="text" name="login" placeholder="Usuario del sistema" ng-model="usuario">
                                    <i class="icon-user icon-large"></i>
                                </p>
                                <p class="field">
                                    <input type="password" name="password" placeholder="Contraseña" ng-model="password">
                                    <i class="icon-lock icon-large"></i>
                                </p>
                                <p class="submit">
                                    <button type="button" ng-click="validaCredencialesLocales(usuario, password)"><i class="icon-arrow-right icon-large"></i></button>
                                </p>
                            </form>
                        </section>
                    </div>
                    <div>
            </ion-content>
        </ion-view>
    </script>

    <!--Template Busqueda.html -->
    <script id="templates/Busqueda.html" type="text/ng-template">
      <ion-view title="Búsqueda">
        <ion-content class="padding">
          <div ng-init="init()">
            <div id="form">  
                <div class="bar bar-header">
                   <h1 class="title">Búsqueda de unidad</h1>
                </div>
                </br>
                </br>
                <div>
                    <input id="facturavin" ng-model="factura" type="text" placeholder="Número de Factura o VIN" />
                </div>
                <button class="button button-block button-positive" ng-click="busqueda(factura)">
                       Buscar
                </button>
                <ion-list ng-show="mostrarList" ng-controller="busquedaController">
                   <ion-item>
                      VIN: {{vin}}
                   </ion-item>
                  
                   <ion-item>
                      Factura: {{numFactura}} 
                   </ion-item>
                  
                   <ion-item>
                      Descripción: {{tipo}} {{marca}} {{modelo}} 
                   </ion-item>
                </ion-list>
                <button ng-show="mostrar" class="button button-block button-balanced icon ion-checkmark-circled" ng-click="seleccionar(vin)">
                   Seleccionar
                </button>
            </div>   
        </div>
        <button ng-click="inserta()">Inserta</button>
        </ion-content>
      </ion-view>
    </script>

    <!-- Template Expediente.html -->
    <script id="templates/Expediente.html" type="text/ng-template">
      <ion-view title="Expediente" ng-init="init()">
        <ion-content class="padding">
              <ion-list>
                <ion-item>
                  <img ng-src="{{imgFotoFrente}}" ng-click="altaDocumento(27, imgFotoFrente)">
                  <p>Foto delatera: Pendiente</p>
                </ion-item>
                <ion-item>
                  <img ng-src="{{imgFotoTrasera}}" ng-click="altaDocumento(28, imgFotoTrasera)">
                  <p>Foto trasera: Pendiente</p>
                </ion-item>
                <ion-item>
                  <img ng-src="{{imgFotoIzquierda}}" ng-click="altaDocumento(29, imgFotoIzquierda)">
                  <p>Foto lado izquierdo: Pendiente</p>
                </ion-item>
                <ion-item>
                  <img ng-src="{{imgFotoDerecha}}" ng-click="altaDocumento(30, imgFotoDerecha)">
                  <p>Foto lado derecho: Pendiente</p>
                </ion-item>
                <ion-item>
                  <img ng-src="{{imgFotoPlaca}}" ng-click="altaDocumento(13, imgFotoPlaca)">
                  <p>Foto de la placa: Pendiente</p>
                  <div class="list">
                     <label class="item item-input">
                     <input type="text" ng-model="txtNumPlaca" ng-blur="altaDocumento(39, txtNumPlaca)" placeholder="Número de placa">
                     </label>
                  </div>
                </ion-item>
                <ion-item>
                  <img ng-src="{{imgFotoAcuseRec}}" ng-click="altaDocumento(17, imgFotoAcuseRec)">
                  <p>Acuse de recibo: Pendiente</p>
                </ion-item>
              </ion-list>
              <ion-item>
                  <img ng-src="{{imgFotoAcuseEnt}}" ng-click="altaDocumento(18, imgFotoAcuseEnt)">
                  <p>Acuse de entrega: Pendiente</p>
                  <div class="list">
                     <label class="item item-input">
                     <input type="text" ng-model="txtRecibidoPor" ng-blur="altaDocumento(26, txtRecibidoPor)" placeholder="Recibido por:">
                     </label>
                  </div>
              </ion-item>
            </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- Template Consulta Expediente.html -->
    <script id="templates/ConsultaExpediente.html" type="text/ng-template">
        <ion-view title="Consulta Expediente">
           <ion-content class="padding">
              <ion-list>
                <ion-item class="item item-icon-left" ng-repeat="expediente in expedientes" ng-click="Detalle(expediente)">
                 <i class="icon ion-model-s"></i>
                    <span>VIN: {{expediente.vin}}</span></br>
                  <span>FACTURA: {{expediente.factura}}</span>
                </ion-item>
              </ion-list>
        </ion-content>
        </ion-view>
    </script>

    <!-- Template Historial Sincronizacion.html -->
    <script id="templates/HistorialSincronizacion.html" type="text/ng-template">
      <ion-view title="Historial Sincronizacion">
        <ion-content class="padding">
            <div ng-init="init()">
              <div>
                <ul mobiscroll-listview="settings" mobiscroll-data="historialSincronizacion" style="display:none">
                    <li><img ng-src="images/clould-upload.png" /><h3>{{historialSincronizacion[0].fecha}}</h3><h3>{{historialSincronizacion[1].numDocumentos}}</h3></li>
                </ul>
              </div>
              <div mobiscroll-form="settings2" style="display:none">
                <div class="mbsc-padding">
                      <button class="mbsc-btn-block">Sincronizar</button>
                </div>
              </div>
            </div>
        </ion-content>
      </ion-view>
    </script>

    <!-- Template Registro.html -->
    <script id="templates/Registro.html" type="text/ng-template">
      <ion-view title="Registro">
        <ion-content class="padding">
          <div ng-init="init()">
             <div class="md-navigation">
                <ul ng-model="mymenustrip" mobiscroll-menustrip="settingsMenu" mobiscroll-instance="demo" class="mbsc-ms-icons" style="display:none;">
                    <li data-tab="md-tab-acc" data-selected="true">
                    <span class="micons mbsc-ic mbsc-ic-home mbsc-ms-ic"><a href="#/busqueda" class="md-link" data-isLogin="true">Búsqueda</a></span></li>
                    <li data-tab="md-tab-icloud">
                    <span class="micons mbsc-ic mbsc-ic-file4 mbsc-ms-ic"> <a href="#/consultaExpediente" class="md-link">Expedientes</a></span></li>
                    <li data-tab="md-tab-comp">
                    <span class="micons mbsc-ic mbsc-ic-loop2 mbsc-ms-ic"><a href="#/historialSincronizacion" class="md-link">Sincronización</a></span></li>
                    <li data-tab="md-tab-comp">
                    <span class="micons mbsc-ic mbsc-ic-user4 mbsc-ms-ic"><a href="#/perfil" class="md-link">Cuenta</a></span></li>                 
                </ul>
            </div>
            </br></br></br></br>
            <div id="demo_cont_formsTextfields" class="demo-wrapper">
                <div mobiscroll-form="settings">
                    <div ng-hide="mostrarRegistro">
                        <div class="mbsc-divider">Registro</div>
                        <div>
                            <label>Nombre Completo
                                <input id="formsTextfields-name" type="text" placeholder="Nombre(s) y Apellidos" data-icon="user" />
                            </label>
                        </div>
                        <label>
                            Rol
                            <select class="md-select">
                                <option>Seleccione</option>
                                <option value="Gestor">Gestor</option>
                                <option value="Apoyo">Apoyo</option>
                                <option value="Transladista">Transladista</option>
                                <option value="Ejecutivo">Ejecutivo</option>
                                <option value="Ejecutivo">Administrador</option>
                            </select>
                        </label>
                        <div>
                            <label>Correo electrónico
                                <input id="formsTextfields-name" type="text" placeholder="mysupermail@mail.com" data-icon="mail" />
                            </label>
                        </div>
                        <label>
                            Contraseña
                            <input type="password" placeholder="password" data-icon="lock2" />
                        </label>
                        <label>
                            Confirme contraseña
                            <input type="password" placeholder="password" data-icon="lock2" />
                        </label>
                        <button>Registrarse</button><div class="mbsc-padding">
                        <a href="#/" class="md-link" data-isLogin="true">Ir a Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </ion-content>
      </ion-view>
    </script>

        <!-- Template Perfil.html -->
    <script id="templates/Perfil.html" type="text/ng-template">
        <ion-view view-title="Perfil">
            <ion-content class="padding">
                <div ng-init="init()">
                    <div id="demo_cont_listviewUpdate" class="demo-wrapper">
                        <div mobiscroll-form="settings">
                            <div class="mbsc-divider">Cuenta</div>
                            <ul mobiscroll-listview="settings" mobiscroll-data="perfil">
                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Nombre Completo</span>
                                    <input type="text" placeholder="{{item.nombre}}" ng-model="nombre" readonly>
                                    <ul>
                                        <li data-role="list-divider">Nombre Completo</li>
                                        <li class="item">
                                            <input ng-model="nombre" type="text" placeholder="{{item.nombre}}" class="item-input item-stacked-label" />
                                            <button class="button button-block button-positive" ng-click="insertaNombre(nombre)">Guardar</button>
                                        </li>

                                    </ul>
                                </li>
                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Usuario</span>
                                    <input type="text" placeholder="{{item.usuario}}" ng-model="usuario" readonly>
                                    <ul class="contact-detail">
                                        <li data-role="list-divider">Usuario</li>
                                        <li>
                                            <input type="text" placeholder="{{item.usuario}}" ng-model="usuario">
                                            <button class="button button-block button-positive" ng-click="insertaUsuario(usuario)">Guardar</button>
                                        </li>
                                    </ul>
                                </li>
                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Rol</span>
                                    <input type="text" placeholder="{{item.rol}}" ng-model="perfil.rol" readonly>
                                    <ul class="contact-detail">
                                        <li data-role="list-divider">Rol</li>
                                        <li>
                                            <div class="list">
                                                <label class="item item-select">
                                                    <div class="input-label">
                                                    </div>
                                                    <select id="sRol">
                                                        <option ng-repeat="x in tablaRoles" value="{{x.id}}">{{x.descripcion}}</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <button class="button button-block button-positive" ng-click="insertaRol()">Guardar</button>
                                        </li>
                                    </ul>
                                </li>
                                <li class="item item-input item-stacked-label">
                                    <span class="input-label">Contraseña</span>
                                    <input type="password" placeholder="*****" readonly ng-model="pass">
                                    <ul class="contact-detail">
                                        <li data-role="list-divider">Contraseña</li>
                                        <li>
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Contraseña Actual</span>
                                                <input type="password" ng-model="oldPass">
                                            </label>
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Nueva Contraseña</span>
                                                <input type="password" ng-model="newPass">
                                            </label>
                                            <label class="item item-input item-stacked-label">
                                                <span class="input-label">Confirma Contraseña</span>
                                                <input type="password" ng-model="confirmPass">
                                            </label>
                                            <button class="button button-block button-positive" ng-click="insertaPass(oldPass, newPass, confirmPass)">Guardar</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div>
                            </div>
                        </div>
                    </div>
            </ion-content>
        </ion-view>
    </script>

    <!--Modal Foto-->
    <script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent" ng-click="closeModal()">
            <ion-pane class="transparent">
               <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
            </ion-pane>
        </div>
    </script>

    <!--Librerias de aplicación angular-->
    <script src="AngularJS/RegistrationModule.js"></script>
    <script src="AngularJS/BackgroundMode/backgroundController.js"></script>

    <!--Controllers-->
    <script src="AngularJS/Camera/cameraController.js"></script>
    <script src="AngularJS/Camera/cameraController.js"></script>  
    <script src="AngularJS/Main/mainRepository.js"></script>
    <script src="AngularJS/Main/mainController.js"></script>
    <script src="AngularJS/Busqueda/busquedaRepository.js"></script>
    <script src="AngularJS/Busqueda/busquedaController.js"></script>
    <script src="AngularJS/Login/loginRepository.js"></script>
    <script src="AngularJS/Login/loginController.js"></script>
    <script src="AngularJS/Expediente/expedienteRepository.js"></script>
    <script src="AngularJS/Expediente/expedienteController.js"></script>
    <script src="AngularJS/Expediente/consultaRepository.js"></script>
    <script src="AngularJS/Expediente/consultaController.js"></script>
    <script src="AngularJS/HistorialSincronizacion/historialSincronizacionController.js"></script>
    <script src="AngularJS/HistorialSincronizacion/historialSincronizacionRepository.js"></script>
    <script src="AngularJS/Perfil/perfilController.js"></script>
    <script src="AngularJS/Perfil/perfilRepository.js"></script>
  </body>
</html>
