<!DOCTYPE html>
<html ng-app="registrationModule" ng-controller="backgroundController" ng-init="init()">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>FlotillasApp</title>

    <!-- Incluir hojas de estilos CSS -->
    <!-- Mobiscroll JS and CSS Includes -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/modal.css" />

    <!-- Incluir scripts del template de Angular y JQuery -->
    <!-- jQuery Include | MAKE SURE TO INCLUDE BEFORE ANGULAR -->
    <!--<script src="js/jquery-2.2.0.min.js"></script>-->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ng-cordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <script src="confront.js"></script>
    <!--<script src="js/mobiscroll.custom-2.17.1.min.js"></script>-->
</head>

<body>
    <ion-nav-bar class="bar-positive" ng-show="showTabs == true">
    </ion-nav-bar>
    <ion-nav-view class="slide-left-right"></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-icon-top tabs-positive">

            <ion-tab title="Busqueda" icon="ion-search" ui-sref="tabs.busqueda">
                <ion-nav-view name="busqueda-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Consulta" icon="ion-ios-folder" ui-sref="tabs.consultaExpediente">
                <ion-nav-view name="consulta-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Sincronización" icon="icon ion-load-a" ui-sref="tabs.sincronizacion">
                <ion-nav-view name="sincronizacion-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Perfil" icon="icon ion-person" ui-sref="tabs.perfil">
                <ion-nav-view name="perfil-tab"></ion-nav-view>
            </ion-tab>

        </ion-tabs>
    </script>

    <!--Template de Login.html-->
    <script id="templates/Login.html" type="text/ng-template">
        <ion-view title="Login">
            <ion-content class="padding">
                <div ng-init="init()">
                    <div class="container">
                        <header>
                            <h1>Registro de <strong>Unidades</strong></h1>
                        </header>
                        <section id="imagen">
                            <center>
                                <img id="logo" src="images/logo/integra.png"></img>
                            </center>
                        </section>
                        <section class="main">
                            <form class="form-1">
                                <p class="field">
                                    <input type="text" name="login" placeholder="Usuario del sistema" ng-model="usuario">
                                    <i class="icon-user icon-large"></i>
                                </p>
                                <p class="field">
                                    <input type="password" name="password" placeholder="Contraseña" ng-model="password">
                                    <i class="icon-lock icon-large"></i>
                                </p>
                                <p class="submit">
                                    <button type="button" ng-click="validaCredencialesLocales(usuario, password)"><i class="icon-arrow-right icon-large"></i></button>
                                </p>
                            </form>
                        </section>
                        <!--<button class="button button-clear button-block button-calm" ng-click="iniciarSesion(usuario, password)">
                                Ingresar Con Otra Cuenta
                            </button>-->
                        <button class="button button-clear button-block button-calm" ng-click="irRegistro()">
                            Registrarse
                        </button>
                    </div>
                    <div>
            </ion-content>
        </ion-view>
    </script>

     <!--Template Busqueda.html -->
     <script id="templates/Busqueda.html" type="text/ng-template">
        <ion-view title="Búsqueda">
        <ion-content class="padding">
        <div ng-init="init()">
            <div id="form">
                <div class="bar bar-header">
                    <h1 class="title">Búsqueda de unidad</h1>
                </div>
            </br>
        </br>
        <div>
            <input id="facturavin" ng-model="factura" type="text" placeholder="Número de Factura o VIN" />
        </div>
        <button class="button button-block button-positive" ng-click="busqueda(factura)">
            Buscar
        </button>
        <ion-list ng-show="mostrarList" ng-controller="busquedaController">
        <ion-item>
        VIN: {{unidad[0].vin}}
    </ion-item>

    <ion-item>
        Factura: {{unidad[0].factura}}
    </ion-item>

    <ion-item>
        Descripción: {{unidad[0].tipo}} {{unidad[0].marca}} {{unidad[0].modelo}}
    </ion-item>

    </ion-list>
    <button ng-show="mostrar" class="button button-block button-balanced icon ion-checkmark-circled" ng-click="seleccionar()">
        Seleccionar
    </button>
    <button ng-click="scanBarcode()">scanBarcode</button>
    </div>
    </div>
    </ion-content>
    </ion-view>
    </script>

     <!-- Template Expediente.html -->
         <script id="templates/Expediente.html" type="text/ng-template">
            <ion-view title="Expediente" ng-init="init()">
            <ion-content>
            <ion-list>
            <ion-item>
            VIN: {{expVin}}
        </ion-item>

        <ion-item>
        Factura: {{expFactura}}
    </ion-item>
    </ion-list>
    <ion-list>
    <ion-item ng-repeat="document in localDocuments">
    <div ng-if="document.tipo == 'img'">
        <img class="carSize" ng-model="document.valor" ng-src="{{document.valor}}" ng-click="altaDocumento(document.idDocumento, document.valor,document.tipo)">
        <p>{{document.tituloDoc}} {{document.estatus}}</p>
        <button ng-click="testFileUpload(document.valor, document.idDocumento)">uploadImg</button>
    </div>
    <div ng-if="document.tipo == 'txt'">
        <p>{{document.tituloDoc}} {{document.estatus}}</p>
        <input type="text" ng-model="document.valor" ng-blur="altaDocumento(document.idDocumento, document.valor,document.tipo)" placeholder="__________________________">
    </div>
    <div ng-if="document.tipo == 'dat'">
        <div class="row">
            <div class="item-text-wrap item">
                <div class="item-icon-left">
                    <i class="icon ion-calendar"></i>
                    <input type="text" class="dateClass" ng-model="document.valor | date : 'dd/MM/yyyy'" placeholder="dd/mm/yyyy" ng-click="showDatePicker()" />
                </div>
            </div>
        </div>
    </div>
    </ion-item>
    </ion-list </ion-content>
    </ion-view>
    </script>

    <!-- Template Consulta Expediente.html -->
    <script id="templates/ConsultaExpediente.html" type="text/ng-template">
        <ion-view title="Consulta Expediente" ng-init="init()">
            <ion-content class="padding">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Buscar" ng-model="test">
                    </label>
                </div>
                <ion-list>
                    <ion-item class="item item-icon-left" ng-repeat="expediente in expedientes | filter: test" ng-click="Detalle(expediente)">
                        <i class="icon ion-model-s"></i>
                        <span>Vin: {{expediente.vin}}</span></br>
                        <span>Factura: {{expediente.factura}}</span></br>
                        <span>Estatus: {{expediente.estatus}}</span>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-view>
    </script>

    <!-- Template Historial Sincronizacion.html -->
    <script id="templates/HistorialSincronizacion.html" type="text/ng-template">
    <ion-view title="Historial Sincronización">
            <ion-content class="padding">
                <div ng-init="init()">
                <ion-list>
                  <ion-item ng-repeat="historial in historialSincronizacion" ng-src="images/clould-upload.png">
                    <h3>Fecha: {{historial.fecha}}</h3><h3>Numero Docs: {{historial.numDocumentos}}</h3>
                  </ion-item>
                </ion-list>
                <button class="button button-block button-balanced icon ion-checkmark-circled" 
                ng-click="sincronizar()">
                       Sincronizar
                </button>
                </div>
            </ion-content>
          </ion-view>    
    </script>

    <!-- Template Registro.html -->
    <script id="templates/Registro.html" type="text/ng-template">
        <ion-view title="Registro">
            <div class="bar bar-header bar-positive">
                <h1 class="title">Registro</h1>
            </div>
            <ion-content class="padding">
                <div ng-init="init()">

                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nombre Completo</span>
                            <input type="text" placeholder="Nombre Completo" ng-model="name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nombre de Usuario</span>
                            <input type="text" placeholder="ejemplo@ejemplo.com" ng-model="user">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Rol
                            </div>
                            <select id="rolSelected">
                                <option value="0">Seleccione</option>
                                <option value="1">Gestor</option>
                                <option value="2">Apoyo</option>
                                <option value="4">Transladista</option>
                            </select>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Contraseña</span>
                            <input type="password" placeholder="Conraseña" ng-model="pass">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Confirmar Contraseña</span>
                            <input type="password" placeholder="Conraseña" ng-model="confirmPass">
                        </label>
                    </div>
                    <button class="button button-block button-positive" ng-click="registro(name, user, pass, confirmPass)">
                        Crear Cuenta
                    </button>
            </ion-content>
        </ion-view>
    </script>

    <!-- Template Perfil.html -->
    <script id="templates/Perfil.html" type="text/ng-template">
        <ion-view view-title="Perfil">
            <ion-content class="padding">
                <div ng-init="init()">
                    <div class="animate-show" ng-show="!showme">
                        <div clas="list">
                            <div>
                                <span class="item item-divider">Nombre Completo</span>
                                <label class="item item-input">
                                    <input type="text" placeholder="{{nombreCompleto}}" readonly>
                                </label>
                            </div>
                            </br>
                            <div>
                                <span class="item item-divider">Nombre de Usuario</span>
                                <label class="item item-input">
                                    <input type="text" placeholder="{{nombreUsuario}}" readonly>
                                </label>
                            </div>
                            </br>
                            <div>
                                <span class="item item-divider">Rol</span>
                                <label class="item item-input">
                                    <input type="text" placeholder="{{rol}}" readonly>
                                </label>
                            </div>
                            </br>
                            <div>
                                <span class="item item-divider">Contraseña</span>
                                <label class="item item-input">
                                    <input type="password" placeholder="*****" readonly>
                                </label>
                            </div>
                        </div>
                        </br>
                        <button class="button button-block button-positive" ng-click="showme=true">Editar</button>
                        <button class="button button-block button-assertive" ng-click="logout()">Salir</button>
                    </div>
                    <div class="animate-show" ng-show="showme">
                        <div clas="list">
                            <div>
                                <span class="item item-divider">Cambiar Nombre Completo</span>
                                <label class="item item-input">
                                    <input type="text" value="{{nuevoNombre}}" ng-model="nuevoNombre">
                                </label>
                            </div>
                            </br>
                            <div>
                                <span class="item item-divider">Cambiar Nombre de Usuario</span>
                                <label class="item item-input">
                                    <input type="text" placeholder="ejemplo@ejemplo.com" value="{{nuevoUsuario}}" ng-model="nuevoUsuario">
                                </label>
                            </div>
                            </br>
                            <div>
                                <span class="item item-divider">Cambiar Rol</span>
                                <label class="item item-select">
                                    <select id="sRol">
                                        <option ng-repeat="x in tablaRoles" value="{{x.id}}">{{x.descripcion}}</option>
                                    </select>
                                </label>
                            </div>
                            </br>
                            <div>
                                <span class="item item-divider">Contraseña Actual</span>
                                <label class="item item-input">
                                    <input type="password" value="{{oldPass}}" ng-model="oldPass">
                                </label>
                                </br>
                                <span class="item item-divider">Nueva Contraseña</span>
                                <label class="item item-input">
                                    <input type="password" value="{{oldPass}}" ng-model="nuevoPass">
                                </label>
                                </br>
                                <span class="item item-divider">Confirmar Contraseña</span>
                                <label class="item item-input">
                                    <input type="password" value="{{oldPass}}" ng-model="confirmNuevoPass">
                                </label>
                            </div>
                        </div>
                        </br>
                        <button class="button button-block button-positive" ng-click="Modificar(nuevoNombre, nuevoUsuario, oldPass, nuevoPass, confirmNuevoPass)">Guardar</button>
                        <button class="button button-block button-assertive" ng-click="showme=false">Cancelar</button>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>

    <!--Modal Foto-->
    <script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent" ng-click="closeModal()">
            <ion-pane class="transparent">
                <img ng-src="{{imageSrc}}" class="fullscreen-image" />
            </ion-pane>
        </div>
    </script>

    <!--Librerias de aplicación angular-->
    <script src="AngularJS/RegistrationModule.js"></script>
    <script src="AngularJS/DBA/dbaRepository.js"></script>
    <script src="AngularJS/BackgroundMode/backgroundController.js"></script>


    <!--Controllers-->
    <script src="AngularJS/Camera/cameraController.js"></script>
    <script src="AngularJS/Camera/cameraController.js"></script>
    <script src="AngularJS/Main/mainRepository.js"></script>
    <script src="AngularJS/Main/mainController.js"></script>
    <script src="AngularJS/Busqueda/busquedaRepository.js"></script>
    <script src="AngularJS/Busqueda/busquedaController.js"></script>
    <script src="AngularJS/Login/loginRepository.js"></script>
    <script src="AngularJS/Login/loginController.js"></script>
    <script src="AngularJS/Expediente/expedienteRepository.js"></script>
    <script src="AngularJS/Expediente/expedienteController.js"></script>
    <script src="AngularJS/Expediente/consultaRepository.js"></script>
    <script src="AngularJS/Expediente/consultaController.js"></script>
    <script src="AngularJS/HistorialSincronizacion/historialSincronizacionController.js"></script>
    <script src="AngularJS/HistorialSincronizacion/historialSincronizacionRepository.js"></script>
    <script src="AngularJS/Perfil/perfilController.js"></script>
    <script src="AngularJS/Perfil/perfilRepository.js"></script>
    <script src="AngularJS/Network/networkRepository.js"></script>
</body>

</html>